<div class="row">
  <h1>Welcome to MagicTax!</h1>
</div>


<mat-card>
  <mat-card-header>
    <mat-card-title>Tax Return Calculator</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <p>
      Calculate your tax return quick and easy!
    </p>
    <p>Get started Below</p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary">Get Started</button>
  </mat-card-actions>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Need Help?</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <p>
      We have you covered
    </p>
    <p>Find the right form you need!</p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary">Find Form</button>
  </mat-card-actions>
</mat-card>

<!-- @todo - move to create account page. -->
<!-- <mat-card>

  <mat-card-header>
    <mat-card-title>Welcome to MagicTax!</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <p>
      What should we put here?
    </p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button>Continue as Guest</button>
    <button mat-raised-button color="primary">Login with Facebook</button>
  </mat-card-actions>
</mat-card> -->
