<div class="row">
  <h1 class="col-sm-12 text-center">Welcome to MagicTax!</h1>
</div>


<div class="row">
  <mat-card class="col-md-6">
    <div class="text-center">
      <h3 class="text-center portal-card-header">Tax Return Calculator</h3>
    </div>

    <mat-card-content  class="text-center">
      <p  class="text-center">
        Calculate your tax return quick and easy!
      </p>
      <p  class="text-center">Get started Below</p>
    </mat-card-content>

    <mat-card-actions class="text-center">
      <button mat-raised-button (click)="getStarted()" color="primary">Get Started</button>
    </mat-card-actions>
  </mat-card>

  <mat-card  class="col-md-6">
    <div class="text-center">
      <h3 class="text-center portal-card-header">Need Help?</h3>
    </div>

    <mat-card-content class="text-center">
      <p class="text-center">
        We have you covered
      </p>
      <p class="text-center">Find the right form you need!</p>
    </mat-card-content>

    <mat-card-actions class="text-center">
      <button mat-raised-button color="primary">Find Form</button>
    </mat-card-actions>
  </mat-card>
</div>
