<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button>
<mat-vertical-stepper [linear]="isLinear" #stepper>

  <mat-step [stepControl]="maritalStatus">
    <form [formGroup]="maritalStatus">
      <ng-template matStepLabel>Marital Status</ng-template>
      <mat-form-field>
        <mat-label>Status</mat-label>
        <!-- @todo - make this a for loop that pulls options from config -->
        <mat-select required formControlName="maritalStatusCtrl">
          <mat-option value=""></mat-option>
          <mat-option value="single">Single</mat-option>
          <mat-option value="married-filing-jointly">Married Filing Jointly</mat-option>
          <mat-option value="married-filing-separately">Married Filing Separately</mat-option>
          <mat-option value="head-of-household">Head of Household</mat-option>
          <mat-option value="widow-with-dependent-child">Qalifying Widow(er) with Dependent Child</mat-option>
        </mat-select>
      </mat-form-field>
      <!-- @todo - add tooltips and text-->
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="salaryFormGroup">
    <form [formGroup]="salaryFormGroup">
      <ng-template matStepLabel>Salary</ng-template>

      <mat-form-field>
        <mat-label>Salary</mat-label>
        <input matInput type="number" class="example-right-align" formControlName="salaryCtrl" required>
        <span matPrefix>$&nbsp;</span>
        <span matSuffix>.00</span>
      </mat-form-field>
      <!-- @todo - add tooltips and text-->
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="taxesPaidFormGroup">
    <form [formGroup]="taxesPaidFormGroup">
      <ng-template matStepLabel>Taxes Paid</ng-template>

      <mat-form-field>
        <mat-label>Salary</mat-label>
        <input matInput type="number" class="example-right-align" formControlName="taxesPaidCtrl" required>
        <span matPrefix>$&nbsp;</span>
        <span matSuffix>.00</span>
      </mat-form-field>
      <!-- @todo - add tooltips and text-->
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
