<p>
  <mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon" aria-label="Menu">
      <mat-icon>menu</mat-icon>
    </button>


    <mat-menu #menu="matMenu">
      <button mat-menu-item>Calculate your tax return</button>
      <button mat-menu-item>Create an account</button>
      <button mat-menu-item>About</button>
      <button mat-menu-item>Help</button>
      <button mat-menu-item>Links</button>
    </mat-menu>

    <!-- @todo - make this link to portal/home -->
    <span>Magic Tax</span>

    <span class="example-spacer"></span>
    <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button> -->
    <i class='fab fa-twitter fa-lg'></i>

  </mat-toolbar>
</p>

